*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #30475E;
    
    font-size: 20px;
}
body{
    background-color: #FFFFEC;
    margin-left: 2em;
}
h1{
    text-align: center;
    color: #BA6B57;
    font-size: 3em;
    letter-spacing: 0.5em;
    
    
    
}
h1 hr{
    border-color: #30475E;
    margin: 0em 2em;
}
p{
    line-height: 2em;
    background-color: white;
    padding: 16px;
}

p em{
    margin-left: 0;
}

a{
    background-color: #BA6B57;
    color: #FFFFEC;
    font-size: 2em;
    letter-spacing: 6px;
    text-decoration: none;
    margin-right: 1em;
}

.homePhoto{
    
    
    margin: 1em auto;
    
}

h2,h3,h4{
    background-color: #BA6B57;
    color: #FFFFEC;
    font-weight: bolder;
    padding: 1em;
}
li{
    margin-bottom: 1em;
    line-height: 1.5em;
    margin-left: 16px;
    
}
li hr{
    margin-top: -2px;
    
}
ul li{
    list-style: circle;   
    
}

.content{
    width: auto;
    margin: 0px 15%;
    
}
ol,ul{
    background-color: white;
    padding: 8px;
    
}